export AIRFLOW_HOME="$HOME/airflow"
export AIRFLOW_VENV="$HOME/airflow_venv"
export AIRFLOW_API_PORT="8080"

export INDIA_MARKET_PROJECT_DIR="/mnt/d/DataAnalyst/MKT-1"
export INDIA_MARKET_VENV="$HOME/india_market_venv"
export INDIA_MARKET_PYTHON_BIN="$INDIA_MARKET_VENV/bin/python"

export AIRFLOW__API_AUTH__JWT_SECRET="replace-with-a-random-secret"
export AIRFLOW__API__SECRET_KEY="replace-with-a-second-random-secret"
export AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS="admin:admin"
